/*Assignment Three (02.526 Interactive Data Visualisation)*/

body {
	font-family: 'Consolas', 'Arial';
	text-align: center; 
	/*margin: 100 */
	/*background: grey;*/
}

#map {
	width: 1390px;
	height: 5500px;
}

.district {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3;
}

.tooltip {
	display: block;
	background: #eee;
	color: grey;
	font-size: 15px;
	top: 390px;
	left: 1200px;
	padding: 5px;
	position: relative;
	text-align: center;
	height: 58px;
	width: 200px;
	z-index: 1000; /*specifies the stack order of elements*/
	border: 1px dotted grey;
	border-radius: 10px;
}

path:hover {
	stroke:#A0A0A0;
	opacity: 0.5;
	stroke-width:3;
}