/*Assignment Three (02.526 Interactive Data Visualisation)*/

body {
	font-family: 'Consolas', 'Arial';
	text-align: center; 
	/*margin: 100 */
	/*background: grey;*/
}

#map {
	width: 1410px;
	height: 550px;
}

.district {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3;
}

.tooltip {
	display: block;
	background: #eee;
	color: grey;
	font-size: 17px;
	top: 390px;
	left: 1100px;
	padding: 5px;
	position: relative;
	text-align: center;
	height: 59px;
	width: 190px;
	z-index: 1000; /*specifies the stack order of elements*/
	border: 2px dotted grey;
	border-radius: 2px
}

path:hover {
	stroke:#A0A0A0;
	opacity: 0.5;
	stroke-width:3;
}